.create{
  margin-bottom: 168px;
}

.create__box{
  padding: 134px 85px;
  background-image: url(../images/bgi-create.png);
  background-size: 1280px 450px;
  background-repeat: no-repeat;
}

.create__description{
  width: 445px;
}

.create__title{
  font-family: "Fraunces", "Times New Roman", serif;
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 900;
  font-size: 72px;
  line-height: 48px;
  color: #FEFCF7;
}

.create__text{
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  opacity: 0.8;
}

