.how-it-works{
  margin-bottom: 168px;
}

.how-it-works__elements{
  padding: 115px 150px 100px 85px;
  background-color: #2C343E;

}

.how-it-works__heading{
  font-family: "Fraunces", "Times New Roman", serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-top: 0;
  margin-bottom: 80px;
}

.line{
  position: relative;
  z-index: 1;
  display: block;
  margin-left: 15.5px;
  margin-bottom: 82px;
  width: 760px;
  height: 1px;
  background-color: #FDD6BA;
}

.line__oval{
  position: absolute;
  z-index: 20;
  display: block;
  top: -15px;
  left: -15.5px;
  width: 31px;
  height: 31px;
  background-color: transparent;
  border: 2px solid #0E8784;
  border-radius: 50%;
  margin-bottom: 67px;
}

.line__oval--middle{
  left: 364px;
}

.line__oval--last{
  left: 744.5px;
}

.stage{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.stage__item{
  width: 285px;
}

.stage__item + .stage__item{
  margin-left: 95px;
}

.stage__number{
  font-family:  "Fraunces", "Times New Roman", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
  margin-top: 0;
  margin-bottom: 38px;
}

.stage__summary{
  width: 255px;
}


.stage__title{
  font-family:  "Fraunces", "Times New Roman", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #FEFCF7;
  margin-top: 0;
  margin-bottom: 42px;
}

.stage__text{
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
}